.sidebar {
  width: 90px;
  background-color:  black;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidebar-icon {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sidebar-icon span {
  color: #fff;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  color: yellow;
}


.tooltip {
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}


.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 150px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(-50%);
  animation: slideIn 0.3s forwards;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}