.fixed-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-box {
    width: 340px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .box-title {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .box-title h2 {
    color: black;
  }
  
  .sidebar-box1 {
    flex: 1;
    padding: 15px;
  }
  
  /* Part 1: Status */
.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .status-item {
    display: flex;
    align-items: center;
  }

  .status-item span {
    color: black;
  }
  
  .status-box {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    border-radius: 50%;
  }
  
  /* Part 2: Bar Chart */
  .bar-chart {
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
    transition: width 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .green {
    background-color: green;
  }
  
  .amber {
    background-color: orange;
  }
  
  .red {
    background-color: red;
  }

  

  .sidebar-box2 {
    flex: 2;
    padding: 30px;
    height: 250px;
    overflow-y: auto;
  }
  
  .sidebar-box2 p {
    color: black;
  }
  .box-title h2 {
    font-weight: normal;
    margin: 0;
  }
  