.open-summary, .close-summary {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.job-summary {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px; 
  overflow-y: auto; /* enables scrolling when the content exceeds the box height */
  max-height: 200px; 
  display: flex;
  justify-content: space-between;
}


.post {
  width: 500px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}


.post.flipped {
  transform: rotateY(180deg);
}

.post.flipped .job-summary {
  display: none;
  /* hides the job summary when the post is flipped */
}

.carousel-container {
  position: relative;
  height: 60px; 
  overflow: hidden;
  margin-bottom: 20px;
  background-color: lightblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeInOut 8s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding: 10px;
  border-radius: 4px;
  color: black;
}

.carousel-item.active {
  opacity: 1;
  font-weight: bold;
}

.carousel-item p {
  margin-bottom: 0;
}
