
.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  opacity: 0.07;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none; 
  z-index: 1;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  position: relative;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  text-align: center;
}

.signup-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.signup-form .form-group label {
  margin-right: 10px;
  font-weight: bold;
  flex: 1;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 2;
}

.signup-form .form-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.signup-form .form-label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.signup-form .checkbox-group {
  display: flex;
  flex-direction: column; 
}

.signup-form .checkbox-group label {
  margin-bottom: 5px;
  font-weight: 300;
}

.signup-form button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
    